---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import CustomImage from '../components/CustomImage.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const pages = await getCollection('pages');
    return pages.map((page) => {
        return {
            params: { id: page.id },
            props: { page }
        };
    });
}

const { page } = Astro.props as { page: CollectionEntry<'pages'> };
const { title, featureImage, seo } = page.data;
const { Content } = await render(page);
---

<BaseLayout title={seo?.title ?? title} description={seo?.description} image={seo?.image ?? featureImage}>
    <main class="px-4 py-12 grow sm:px-8 sm:py-16">
        <article class="max-w-6xl mx-auto">
            <header class="max-w-3xl mx-auto mb-9">
                <h1 class="text-4xl font-bold text-slate-900 sm:text-5xl">{title}</h1>
            </header>
            {
                featureImage?.src && (
                    <figure class="mb-9">
                        <CustomImage
                            {...featureImage}
                            class="w-full rounded-md"
                            widths={[480, 640, 768, 960, 1200, 1600]}
                            sizes="(min-width: 1216px) 1152px, calc(100vw - 32px)"
                        />
                        {featureImage.caption && <figcaption class="mt-1.5 text-xs">{featureImage.caption}</figcaption>}
                    </figure>
                )
            }
            <div class="max-w-3xl mx-auto">
                <div class="prose prose-slate sm:prose-lg max-w-none">
                    <Content />
                </div>
            </div>
        </article>
    </main>
</BaseLayout>
