---
import { getCollection } from 'astro:content';
import FeaturedPostPreview from '../components/FeaturedPostPreview.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import Subscribe from '../components/Subscribe.astro';
import siteConfig from '../data/site-config';
import BaseLayout from '../layouts/BaseLayout.astro';
import { sortPostsByDateDesc } from '../utils/post-utils';

const posts = (await getCollection('blog')).sort(sortPostsByDateDesc);
const featuredPosts = posts.filter(({ data }) => data.isFeatured);
const latestPosts = posts.filter(({ data }) => !data.isFeatured).slice(0, 3);
---

<BaseLayout description={siteConfig.description}>
    <div class="relative border-b border-slate-100 bg-slate-50" slot="header">
        <Header class="relative" />
        <Hero {...siteConfig.hero} socialLinks={siteConfig.socialLinks} />
    </div>
    <main class="py-12 grow sm:py-16">
        {
            featuredPosts?.length > 0 && (
                <div class="px-4 mb-12 border-b border-slate-200 sm:mb-16 sm:px-8">
                    <div class="max-w-6xl mx-auto">
                        {featuredPosts.map((post) => (
                            <FeaturedPostPreview post={post} />
                        ))}
                    </div>
                </div>
            )
        }
        <div class="px-4 mb-12 sm:mb-16 sm:px-8">
            {
                latestPosts?.length > 0 && (
                    <>
                        <div class="max-w-3xl mx-auto mb-8 sm:mb-12">
                            <h2 class="after:bg-primary text-sm tracking-wider text-slate-900 uppercase after:mt-4 after:block after:h-px after:w-16 after:content-['']">
                                Latest Articles
                            </h2>
                        </div>
                        <div class="max-w-3xl mx-auto xl:max-w-6xl">
                            {latestPosts.map((post) => (
                                <PostPreview post={post} />
                            ))}
                        </div>
                        <div class="max-w-3xl pt-8 mx-auto border-t border-slate-200 sm:pt-12">
                            <a
                                class="bg-primary hover:shadow-button inline-flex items-center justify-center gap-1.5 rounded-full px-8 py-2.5 font-semibold text-white transition duration-300"
                                href="/blog"
                            >
                                View All Posts
                            </a>
                        </div>
                    </>
                )
            }
            <Subscribe class="mt-12 sm:mt-16" />
        </div>
    </main>
</BaseLayout>
