---
import Icon from './Icon.astro';

const { text, href, icon, class: className } = Astro.props;
---

<a
    class:list={['inline-flex h-11 w-11 items-center justify-center rounded-full transition duration-300', className]}
    href={href}
    target="_blank"
    rel="noopener noreferer"
    aria-label={text}
>
    {icon && <Icon icon={icon} class="w-5 h-5 overflow-visible fill-current" />}
</a>
